:root {
    --text-color: rgba(239,28,36,255);
    --alt-text-color: white;
    --bg-color: black;
    --btn-color: #ee1c24;
    --btn-alt-color: #40424d;
    --order-text-color: #3a3c47;
    --link-color: rgb(255,255,100);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}