* {
    max-width: 1200px;
    margin: auto;
    padding: 0rem;
}
.bg-container {
    background-color: var(--bg-color);
}
.filter {
    display: flex;
    background-color: var(--nav-color);
    margin-top: 1rem;
}
.filter button {
    padding: 1rem;
    border: 0.25rem solid var(--btn-alt-color);
    background-color: var(--btn-color);
    color: var(--alt-text-color);
    cursor: pointer;
    text-decoration: none;
}
.filter button:hover {
    border: 0.25rem solid var(--btn-color);
    background-color: var(--btn-alt-color);
    color: var(--alt-text-color);
}
/* grid */
.grid-container {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(5, 1fr);
    row-gap: 1rem;
}
.order {
    grid-column: 1/6;
    grid-row: 1/2;
}
.order button {
    color: var(--alt-text-color);
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    text-decoration: underline;
    font-size: 2rem;
}
.order button:hover {
    color: var(--order-text-color);
}
/* songs styling */ 
.top-thirty {
    width: 9rem;
    height: 9rem;
    background-color: var(--btn-color);
    border: 0.25rem solid var(--order-text-color);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.top-thirty img {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}
.top-thirty img:hover {
    border: 0.25rem solid var(--alt-text-color);
}
.fa-star {
    cursor: pointer;
}
.fa-star:hover {
    color: var(--link-color);
}
/* modal */
.full-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s ease-in;
}
.fa-times {
    font-size: 2rem;
    position: relative;
    left: 95%;
    cursor: pointer;
}
.fa-times:hover {
    color: var(--alt-text-color);
}

.full-modal.is-visible {
    visibility: visible;
    opacity: 1;
    background-color: rgb(88,37,48,0.8); 
}
[data-animation="pop-up"].full-modal {
    transform: scale(0.2);
}
[data-animation="pop-up"].full-modal.is-visible {
    transform: none; 
}
#song-info {
    display: flex;
    flex-direction: column;
    row-gap: 1rem; 
    border: 1rem solid var(--bg-color); 
    background-color: var(--order-text-color);
    padding: 1rem;
}
#song-info img {
    width: 16rem;
    height: 16rem;
}
#song-info a {
    width: 9rem;
    background-color: var(--link-color);
    color: var(--order-text-color);
    text-align: center;
    text-decoration: none;
}
#song-info a:hover {
    color: var(--btn-color);
}
.top-thirty .fa-times {
    color: var(--bg-color);
    font-size: 2rem;
    position: relative;
    left: 0;
}
.top-thirty .fa-times:hover {
    color: var(--alt-text-color);
}
/* page views */
#page-views {
    grid-column: 5/6;
    grid-row: 1/2;
    color: var(--alt-text-color);
}
#page-views div {
    color: var(--btn-color);
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
}